*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
}
header
{
    height: 50px;
    width: 100%;
    background-color: #c05c5f;
    color: #efa5a5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1
{
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    margin: 10px;
}
header nav ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
header nav ul li a
{
    text-decoration: none;
    color: #efa5a5;
    font-size: 20px;
}
header nav ul li a:hover
{
    color: #fff;
}
header div a
{
    margin: 15px;
    color: #fff;
    padding: 8px 15px;
    border-radius: 25px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 110px;
}
header div a:hover
{
    background-color: transparent;
    border: 2px solid #efa5a5;
}
.logo
{
    font-family: "Cinzel", sans-serif;
    font-weight: bold;
    color: #fcc7c7;
    font-size: 25px;
}
.product-table
{
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.product-table thead tr
{
    background-color: #c05c5f;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-family: "Cinzel", sans-serif;
    text-align: center;
}
.product-table th,
.product-table td
{
    padding: 12px 15px;
}
.product-table tbody tr
{
    border-bottom: 1px solid #c05c5f;
    color: #c05c5f;
}
.product-table tbody tr:nth-of-type(even)
{
    background-color: #c8636727;
}
.product-table tbody tr:last-of-type
{
    border-bottom: 2px solid #c05c5f;
}
.btn
{
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border: transparent;
    border-radius: 8px;
    background-color: transparent;
    color: #c05c5f;
    display: inline-block;
    width: 130px;
    margin: 5px;
}
.btn-primary
{
    background-color: transparent;
    border: 1px solid #c05c5f;
    color: #c05c5f;
}
.btn-primary:hover
{
    background-color: #c05c5f;
    color: #fff;
}
footer
{
    background-color: #c05c5f;
    color: #efa5a5;
    text-align: center;
    padding: 45px;
    margin-top: 40px;
}